
/* Styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  color: #ffffff;
  font-family: 'Press Start 2P', Arial, sans-serif;
  padding: 2rem;
  text-align: center;
}

header {
  margin-bottom: 20px;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  color: #b19cd9;
  margin-bottom: 2.5rem;
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: #b19cd9; /* Light purple */
  }
  33% {
    color: #b362c7; /* Medium purple */
  }
  66% {
    color: #832db1; /* Dark purple */
  }
  100% {
    color: #b19cd9; /* Back to light purple */
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  background: #29024b;
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1.5rem rgba(177, 156, 217, 0.5);
}

#timer, #spots-left {
  font-size: 1em;
  margin-top: 0.5rem;
  color: #af8cf2;
}

#countdown {
  display: inline-block;
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}


label {
  align-self: flex-start;
  margin-top: 0.8rem;
  font-weight: bold;
  text-align: center; 
  width: 100%;
  font-size: 0.9rem;
  padding: 0.4rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background: #4b0082;
  color: #fff;
  border: 1px solid #b19cd9;
  font-size: 1em;
  text-align: center; 
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #8000ff;
  outline: none;
}


button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 2rem;
  background: #8000ff;
  color: white;
  font-size: 1em;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #6a00cc;
}

footer {
  margin-top: 2rem;
  font-size: 0.9em;
  color: #e9e3e3;
  -webkit-text-stroke: 0.01rem black;
}

/* Mobile Responsive Design */
@media (min-width: 600px) {
  form {
      width: 70%;
  }

  h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 1024px) {
  form {
      width: 50%;
  }

  h1 {
    font-size: 2.5em;
  }
}
